.GameSign {
  width: 100px;
  height: 100px;
  fill: var(--fill-color-sign);

  &.smoothChange {
    animation: smoothChange 0.5s ease-in-out;
  }
}

@keyframes smoothChange {
  0% {
    rotate: 0deg;
  }

  20% {
    rotate: 12deg;
  }

  40% {
    rotate: -10deg;
  }

  60% {
    rotate: 7deg;
  }

  80% {
    rotate: -4deg;
  }

  100% {
    rotate: 0deg;
  }
}
